@{
    ViewData["Title"] = "- Sign Up";
    ViewData["Header1"] = "Sign Up";
}

<!--This page will display the available times. Ignore the time slots on the
SignUpGenius page. For our purposes, we will say the tours occur every hour on the
hour from 8:00 am – 8:00 pm (i.e. the last tour starts at 8:00 pm.) Once the user selects a
time, they are routed to a form that has the date info set, but allows the user to enter their
info.-->

<!--Loop through and display times. Linked the times without an appointment to the appointment form.-->

<ul>
    @foreach (var time in ViewBag.Times)
    {

        @if (time.AppointmentID == null)
        {
            <li>
                <a href="/signup/@time.TimeID" class="btn btn-primary">@time.Date - @time.ScheduledTime</a>
            </li>
        }
        else
        {
            <li>
                @time.Date - @time.ScheduledTime
            </li>
        }
    }
</ul>